artemis_roles:
  amq:
  - admin
  senders:
  - alice
  - charlie
  receivers:
  - bob
  - charlie

artemis_users:
  admin: admin
  admin|SHA256: ENC(P4uJzzpps9Ymsa3oIE1DCHEvhoP4B/uGnfyWWJvwwg4\=\:4096\:BNZOo7ahXl0UkEWXHK8kYTN2zu8cUiIVhi76XQ4/bbc\=\:ePxbZuV6I9pL3V9epHL4+fwiuwCBGihVvrlD3+sayP8\=)
  admin|SHA512: ENC(0W0/MO/UU5iNwDVfLl7sLZkCHclEx/2wsplcvH1XzYE\=\:4096\:/crznWJBE1UOv70qP/vWIwZLCo+AzZ42NP0kSU9gUZQpMvds+WmvQOmGlLuLHOAJPxdq+0yBAchH7001FwNOaQ\=\=\:g6i3N3jbExi/3/0m1EBQstDb4tCjcaXYYpLKP1JhrN3XZaSYyw+T6OcpfD5rFXbE1wuFK/a7XKeeeveAbVmatQ\=\=)
  alice|SHA256: ENC(O3lrm5ZtbXCrE8WjsSy0/ZFD8MDpdl0xrHn13KbnPwQ\=\:4096\:F5H7N6KgA91tB929LbgY64aRKkP9BiG1tSw+jfFoSsg\=\:YP1fB+iWheEitFrG+L1Hba6vojtwmLN4Toxj+dZWxu4\=)
  alice|SHA512: ENC(KOQ8bvBuDZlBuNuIH2CWcssX3oRfw5KdUI4CHwH9FD8\=\:4096\:bihBvnJHHI9i79rVLhoa5GYFomrYle6A6aqx/En5Wrk4fDDcCFyk5Wxz4UEpn3XmEp3+FO6I/660/02+1x0jpw\=\=\:lcTTz9IGGQTNoplSep+ZKd1seDYVuuXISQu0vGxmGUrGLhNYETtL8zVYT74WJD+fB7nX+qGhPRlUB7QV36glJQ\=\=)
  bob|SHA256: ENC(bTFBixS6JFvUxt6gX5s36OMNmr4WiuAnBN9yt2292Ds\=\:4096\:S9vnfSzEw8eWpndkyk2TzLjqf/aQKVoy4ZOb13CZgxU\=\:iOKc9qoj6BYTDux4gnU+ZWgPKdm3tOIb5jMPQ6nrCus\=)
  bob|SHA512: ENC(EDwulWJzSzLU2wLvfdvR3mnK880/g9v01AdFOUc3sLI\=\:4096\:tWGTAcit98C+fbDOOLSyzB5bRo6UePPEWXBe7TXAXC5UHXKdN4SemkSp9NqZLNpP27HefJObBVGt+WBLe/Aa8w\=\=\:28mOiOI/jz4sTTqwvd3Ri/5NDkt9AB/zU76G59fBSTvR3PUMN3s6eeNdbnu3qOAVjcTT7dDQ25gFvkkLtQ2v+A\=\=)
  charlie|SHA512: ENC(AS3rNMkMbl0KFGMrykLnbIx0wDc7smfskr4FABW56r4\=\:4096\:mDhXbu1A0tG8dUJ0w9kHKXaAExdbFLyyEgQc0YkpQDYNqmVvVbB/twzyvYWnNQ3r1SASm7p/863YneZCUMKXVw\=\=\:ciRpbwD5nq0qBX+agk7qwaWs1bTpmynz3QF65tXgFEErLo0pu4BePfAAnKZvaUvAkqlEGyciw6vQ1CCFXMgQ3A\=\=)
  charlie|SHA256: ENC(NtxRIyHES5u4IWWkE3tKZIJbtjJNt5RxBAohQmwCLPc\=\:4096\:cciiIug1kwXzu2lll5JDlPZnAbwB/4C3o9CkN93UZuY\=\:RuLyewTwxWevP/1lFfNsr86Eoj3rPHJowVUugy/tsOw\=)
  lala|SHA256: ENC(NulxtLXf9H/EoBJsCT68tHZ29sq0ky3C9A1e6EtsZGE\=\:4096\:VNHW3JrLg1ytkrFaPBQK5fy+j/GLhuMVgHgCsetP+04\=\:yNv2bZOYhCE94RfzmPnJKF839+M5PD+OJXNSQaVsIYk\=)
  lala|SHA512: ENC(DsJUaIYNme52ao0eTWENuVaUyHQYhBR1HBRCXyK/l/U\=\:4096\:OgdsCeGnyFH20rIpLOPTYGc36NnaTSsztupK2e9B380IewsZ+ZTzszB6PUBT9WGtHbunCplzSvdm8em/p/SJuA\=\=\:7DuhQNGfPU+F4LNBSOjtfLEYzrdW1CqEukO5TN0yzwuJF6CUPsCqSB9L+scv12HY9rLFk0+msKPzrvuGlJd1rQ\=\=)
