        {% if policy.role == 'primary' %}
            <primary>
               {% if policy.properties.cluster_name is defined %}
               <cluster-name>{{ policy.properties.cluster_name  }}</cluster-name>
               {% endif %}
               {% if policy.properties.group_name is defined %}
               <group-name>{{ policy.properties.group_name  }}</group-name>
               {% endif %}
               {% if policy.properties.coordination_id is defined %}
               <coordination-id>{{ policy.properties.coordination_id }}</coordination-id>
               {% endif %}
               {% if policy.properties.initial_replication_sync_timeout is defined %}
               <initial-replication-sync-timeout>{{ policy.properties.initial_replication_sync_timeout  }}</initial-replication-sync-timeout>
               {% endif %}
               {% if policy.properties.retry_replication_wait is defined %}
               <retry-replication-wait>{{ policy.properties.retry_replication_wait }}</retry-replication-wait>
               {% endif %}
               {% if policy.properties.max_saved_replicated_journals_size is defined %}
               <max-saved-replicated-journals-size>{{ policy.properties.max_saved_replicated_journals_size }}</max-saved-replicated-journals-size>
               {% endif %}
               <manager>
                   {% if policy.properties.manager.class_name is defined %}
                   <class-name>{{ policy.properties.manager.class_name }}</class-name>
                   {% endif %}
                   {% if policy.properties.manager.properties is defined %}
                   <properties>
                     {% for property in policy.properties.manager.properties %}
                     <property key="{{ property.key }}" value="{{ property.value }}"/>
                     {% endfor %}
                   </properties>
                   {% endif %}
               </manager>
            </primary>
    {% endif %}
