---

render:
  generator_notice: True
  licenses: True
  template: artemis/

# broker.xml
{% include 'artemis/_modules/broker_xml/default.yaml.jinja2' %}

# artemis.profile
{% include 'artemis/_modules/artemis_profile/default.yaml.jinja2' %}

# users and roles properties xml
{% include 'artemis/_modules/users_roles_security/admin.yaml.jinja2' %}

# bootstrap.xml
{% include 'artemis/_modules/bootstrap_xml/default.yaml.jinja2' %}

# jolokia-access.xml
{% include 'artemis/_modules/jolokia_access/default.yaml.jinja2' %}

# log4j2.properties
{% include 'artemis/_modules/log4j2/default.yaml.jinja2' %}

# login.config
{% include 'artemis/_modules/login_config/jaas_default.yaml.jinja2' %}

# management.xml
{% include 'artemis/_modules/management_xml/default.yaml.jinja2' %}

_defaults: 
  broker_name: artemis
  broker_home: /opt/artemis-2.18.0
  broker_instance: /opt/artemis-2.18.0-i0
  hostname: localhost
  <<: *broker_xml_defaults
  <<: *bootstrap_defaults #
  <<: *security_settings_defaults
  # <<: *artemis_profile_defaults
  # <<: *role_properties_defaults
  <<: *jolokia_access_defaults
  <<: *log4j2_defaults
  # <<: *login_defaults
  # <<: *management_defaults
