{% if broker_xml.cluster is defined %}
    {% if broker_xml.cluster.user is defined and broker_xml.cluster.user | length %}
      <cluster-user>{{ broker_xml.cluster.user }}</cluster-user>
    {% endif %}
    {% if broker_xml.cluster.password is defined and broker_xml.cluster.password | length %}
      <cluster-password>{{ broker_xml.cluster.password }}</cluster-password>
    {%  endif %}

{% endif %}

