# _defaults:
#   broker_home: /opt/artemis-2.18.0
#   broker_instance: /opt/artemis-2.18.0-i0/

artemis_profile:
  home: '{{ broker_home }}'
  instance: '{{ broker_instance }}'
  data_dir: '{{ broker_instance }}/data'
  etc_dir: '{{ broker_instance }}/etc'
  oome_dump: '{{ broker_instance }}/log/oom_dump.hprof'
  instance_uri: 'file:{{ broker_instance }}'
  instance_etc_uri: 'file:{{ broker_instance }}/etc/'
  hawtio_roles:
    - 'amq'
  java_args:
    - -XX:AutoBoxCacheMax=20000
    - -XX:+PrintClassHistogram
    - -XX:+UseG1GC
    - -XX:+UseStringDeduplication
    - -Xms512M
    - -Xmx2G
    - -Dhawtio.disableProxy=true
    - -Dhawtio.realm=activemq
    - -Dhawtio.offline=true
    - -Dhawtio.rolePrincipalClasses=org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal
    - -Dhawtio.http.strictTransportSecurity=max-age=31536000;includeSubDomains;preload
    - -Djolokia.policyLocation=${ARTEMIS_INSTANCE_ETC_URI}jolokia-access.xml
    - -Dlog4j2.disableJmx=true
    - --add-opens java.base/jdk.internal.misc=ALL-UNNAMED
