bootstrap_xml:
  jaas_security:
    - domain: activemq
  server:
    configuration: 'file:{% if ":" in broker_instance %}/{% endif %}{{ broker_instance }}/etc/broker.xml'
  web:
    bind:
      - name: artemis
        uri: https://localhost:8161
        sniHostCheck: false
        sniRequired: false
        clientAuth: false
    path: web
    apps:
      {% if bootstrap_apps is not defined %}
      - url: 'activemq-branding'
        war: 'activemq-branding.war'
      - url: 'artemis-plugin'
        war: 'artemis-plugin.war'
      - url: 'console'
        war: 'console.war'
      {% else %}
      {{ bootstrap_apps }}
      {% endif %}

