_defaults: &bootstrap_defaults
  web_adress: localhost
  web_port: 8161
  web_protocol: http
  bootstrap_apps:
    - url: activemq-branding
      war: activemq-branding.war
    - url: artemis-plugin
      war: artemis-plugin.war
    - url: console
      war: console.war

bootstrap_xml:
  jaas_security:
    - domain: activemq
  server:
    configuration: 'file:{% if ":" in broker_instance %}/{% endif %}{{ broker_instance }}/etc/broker.xml'
  web:
    bind:
      protocol: {{ web_protocol }}
      address: {{ web_adress }}
      port: {{ web_port }}
    path: web
    apps:
      {{ bootstrap_apps }}

_defaults:
  broker_instance: /opt/artemis-2.18.0-i0/
  bootstrap_apps:
    - url: activemq-branding
      war: activemq-branding.war
    - url: artemis-plugin
      war: artemis-plugin.war
    - url: console
      war: console.war
