bootstrap_xml:
  jaas_security:
    - domain: activemq
  server:
    configuration: 'file:{% if ":" in broker_instance %}/{% endif %}{{ broker_instance }}/etc/broker.xml'
  web:
    path: web
    bindings: {{ boostrap_xml_bindings}}
    rootRedirectLocation: '{% if bootstrap_xml_rootRedirectLocation is not defined %}console{% else %}{{ bootstrap_xml_rootRedirectLocation }}{% endif %}'
    apps:
      {% if bootstrap_apps is not defined %}
      - url: 'console'
        war: 'console.war'
      - url: 'metrics'
        war: 'metrics.war'
      {% else %}
      {{ bootstrap_apps }}
      {% endif %}