{% if user_broadcast_groups is defined %}
  broadcast_groups:
    {% for broadcast_group in user_broadcast_groups %}
    - name: '{{ broadcast_group.name }}'
      {% if broadcast_group.local_bind_address is defined %}
      local_bind_address: '{{ broadcast_group.local_bind_address }}'
      {% endif %}
      {% if broadcast_group.local_bind_port is defined %}
      local_bind_port: '{{ broadcast_group.local_bind_port }}'
      {% endif %}
      {% if broadcast_group.group_address is defined %}
      group_address: '{{ broadcast_group.group_address }}'
      {% endif %}
      {% if broadcast_group.group_port is defined %}
      group_port: '{{ broadcast_group.group_port }}'
      {% endif %}
      {% if broadcast_group.broadcast_period is defined %}
      broadcast_period: '{{ broadcast_group.broadcast_period }}'
      {% endif %}
      {% if broadcast_group.jgroups_file is defined %}
      jgroups_file: '{{ broadcast_group.jgroups_file }}'
      {% endif %}
      {% if broadcast_group.jgroups_channel is defined %}
      jgroups_channel: '{{ broadcast_group.jgroups_channel }}'
      {% endif %}
      {% if broadcast_group.connectors_ref is defined %}
      connectors_ref:
        {% for connector_ref in broadcast_group.connectors_ref %}
        - '{{ connector_ref }}'
        {% endfor %}
      {% endif %}
    {% endfor %}
{% endif %}

