# _defaults:
#  log_level_all: INFO x
#  log_level_root: DEBUG x 
#  log_level_activemq: INFO x
#  log_level_server: INFO x
#  log_level_audit_base: ERROR x
#  log_level_audit_message: ERROR x
#  log_level_audit_resource: ERROR x
#  log_level_jetty: WARN x
#  log_level_zookeeper: INFO x
#  log_level_curator: INFO x

## Not implemented
#  log_level_journal: INFO
#  log_level_utils: INFO
#  log_level_utils_critical: INFO
#  log_level_jms: INFO
#  log_level_integration: INFO
#  log_level_handler_console: DEBUG
#  log_level_handler_file: DEBUG
#  log_level_handler_audit_file: INFO

log4j2_config:
  monitorInterval: 5
  rootLogger: '{{ log_level_root|default(log_level_all)|default('INFO') }}, console, log_file'
  logger:
    activemq:
      name: org.apache.activemq
      level: '{{ log_level_activemq|default(log_level_all)|default('INFO') }}'
    artemis_server:
      name: org.apache.activemq.artemis.core.server
      level: '{{ log_level_server|default(log_level_all)|default('INFO') }}'
    artemis_journal:
      name: org.apache.activemq.artemis.journal
      level: '{{ log_level_journal|default(log_level_all)|default('INFO') }}'
    artemis_utils:
      name: org.apache.activemq.artemis.utils
      level: '{{ log_level_utils|default(log_level_all)|default('INFO') }}'
    critical_analyzer:
      name: org.apache.activemq.artemis.utils.critical
      level: '{{ log_level_utils_critical|default(log_level_all)|default('INFO') }}'
    audit_base:
      value: '{{ log_level_audit_base|default(log_level_all)|default('OFF, audit_log_file') }}'
      name: org.apache.activemq.audit.base
      additivity: false
    audit_resource:
      value: '{{ log_level_audit_resource|default(log_level_all)|default('OFF, audit_log_file') }}'
      name: org.apache.activemq.audit.resource
      additivity: false
    audit_message:
      value: '{{ log_level_audit_message|default(log_level_all)|default('OFF, audit_log_file') }}'
      name: org.apache.activemq.audit.message
      additivity: false
    jetty:
      name: org.eclipse.jetty
      level: '{{ log_level_jetty|default(log_level_all)|default('WARN') }}'
    curator:
      name: org.apache.curator
      level: '{{ log_level_curator|default(log_level_all)|default('WARN') }}'
    zookeeper:
      name: org.apache.zookeeper
      level: '{{ log_level_zookeeper|default(log_level_all)|default('ERROR') }}'
  appender:
    console:
      type: Console
      name: console
      layout:
        type: PatternLayout
        pattern: "%d %-5level [%logger] %msg%n"
    log_file:
      type: RollingFile
      name: log_file
      fileName: "${sys:artemis.instance}/log/artemis.log"
      filePattern: '{{ log_filePattern|default("${sys:artemis.instance}/log/artemis.log.%d{yyyy-MM-dd}") }}'
      layout:
        type: "PatternLayout"
        pattern: "%d %-5level [%logger] %msg%n"
      policies:
        type: "Policies"
        cron:
          type: "CronTriggeringPolicy"
          schedule: '{{ log_policies_cron_schedule|default("0 0 0 * * ?") }}'
          evaluateOnStartup: true
    audit_log_file:
      type: RollingFile
      name: audit_log_file
      fileName: "${sys:artemis.instance}/log/audit.log"
      filePattern: "${sys:artemis.instance}/log/audit.log.%d{yyyy-MM-dd}"
      layout:
        type: "PatternLayout"
        pattern: "%d [AUDIT](%t) %msg%n"
      policies:
        type: "Policies"
        cron:
          type: "CronTriggeringPolicy"
          schedule: "0 0 0 * * ?"
          evaluateOnStartup: true
