{% if render.licenses is sameas true %}
    {% block license %}
        {% filter indent(width='# ', first=True, blank=True) -%}

            {% include 'libs/licenses/apache-2.0/plaintext.jinja2' %}
        {% endfilter %}

    {% endblock %}
{% endif %}
